@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Sora:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  font-family: 'Sora', sans-serif;
  font-style: normal;
}

h1 {
  font-size: 48px;
  line-height: 60px;
}

h2 {
  font-size: 40px;
  line-height: 50px;
}

h5 {
  font-size: 18px;
  line-height: 23px;
}
.nav-menu-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: $color-gray;
}

p {
  color: $color-gray;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
